.hotelsPage-cards {
    max-width: 90%;
    width: 90%;
    background-color: rgba(13, 27, 25, 0.733);
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.6);
    text-align: left;
    /* display: flex;
    flex-direction: column; */
    margin-bottom: 10px;
}

/* .hotelName {
    order: 1;
}

.hostelDetails{
    order: 2;
} */

.hotelName{
    text-decoration: underline;
    font-style: oblique;
    color: white;
}

.hotelDetails{
    color: rgb(163, 191, 228);
}

h1{
    text-align: center;
    color: rgb(255,255,255);
    font-style: oblique;
    background-color: rgba(0, 0, 0, 0.486);
}

.hotelPage-container {
    /* display: flex; */
    justify-content: center;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("X:\REACT-PROJECT\dinesh-hospitality\src\images\6.png");
    background-attachment: fixed;
    background-position: center;
    /* max-height: 500px; */
    overflow: scroll;
    /* display: none; */


    height: 100vh;
    padding-top: 0px;

}


.hotel-button{
    background-color: #6ddbf77a;
    font-size: 20px;
    border-radius: 8px;
    padding: 10px;
    color: rgb(245,236,236);
    border: 2px solid #000000;
    transition-duration: 0.4s;
    font-weight: bold;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 10px;

}

.hotel-button:active {
    background-color: #131922;
    color: #5978dd;
    border-color: #5978dd;
    transform: translateY(2px);
}

.hotel-button:hover {
    background-color: #dff1ed00;
    color: rgb(247,247,247);
}